/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 100%;
        height: 30px;
        appearance: none;
        background: linear-gradient(to right,
                hsl(360, 90%, 50%),
                white,
                hsl(120, 90%, 50%));
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 100%;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 3px;
        appearance: none;
        height: 100%;
        cursor: ew-resize;
        background: hsl(235, 15%, 15%);
    }
}