/* Chrome only */
#rating-slider {
    overflow: hidden;
    appearance: none;
    background: linear-gradient(to right,
            hsl(360, 90%, 50%),
            white,
            hsl(120, 90%, 50%));
}

#rating-slider::-webkit-slider-runnable-track {
    height: 100%;
}

#rating-slider::-webkit-slider-thumb {
    width: 1px;
    appearance: none;
    height: 100%;
    cursor: ew-resize;
    background: var(--color-bottom);
}

#rating-slider:hover::-webkit-slider-thumb {
    width: 2px;
}

#rating-num::-webkit-inner-spin-button,
#rating-num::-webkit-outer-spin-button {
    opacity: 1;
}
