/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        appearance: none;
        background: linear-gradient(to right,
                hsl(360, 90%, 50%),
                white,
                hsl(120, 90%, 50%));
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 100%;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 3px;
        appearance: none;
        height: 100%;
        cursor: ew-resize;
        background: var(--color-top);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }
}