@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--color-ordinary);
  font-weight: 300;
  background: linear-gradient(
      to bottom,
      var(--color-middle),
      var(--color-bottom)
    );
  border-collapse: collapse;
}

.action-link {
  transition: color .3s;
}

.action-link:hover {
  color: var(--color-hover);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
