@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(255, 255, 255);
  --header1-color: rgb(60, 65, 65);
  --header2-color: rgb(50, 50, 50);
  --background-start-color: rgb(30, 34, 34);
  --background-end-color: rgb(50, 55, 60);
  --separator-color: rgb(120, 120, 120);
  --background-action-color: rgb(80, 140, 160);
  --action-color: rgb(120, 190, 225);
  --highlight-color: rgb(120, 245, 245);
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  border-collapse: collapse;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
