.diary_table {
    tr {
        border-top: 1px solid var(--separator-color);
        border-bottom: 1px solid var(--separator-color);
    }
    td:first-of-type {
        padding-left: 0;
    }
    thead {
        td {
            padding-left: 20px;
            font-size: small;
        }
        background-color: var(--header2-color);
    }
    tbody {
        td {
            padding: 5px 0 5px 20px;
        }
    }
}
