.diary_table {
    td:first-of-type {
        padding-left: 0;
    }
    thead {
        td {
            padding-left: 20px;
            font-size: small;
            color: var(--fg-reach);
            font-weight: 200;
        }
    }
    tbody {
        tr {
            border-top: 1px solid var(--fg-noise);
            border-bottom: 1px solid var(--fg-noise);
        }
        td {
            padding: 5px 0 5px 20px;
        }
    }
}
