.search_width {
    width: 600px;
}

.search_results {
    max-height: 600px;
    border-bottom: 1px solid var(--foreground-color);

}

.object {
    padding: 4px;
}

.object:hover {
    background-color: var(--background-action-color);
}

.add_object {
    width: 100%;
    padding: 8px;
}

.add_object:hover {
    background-color: var(--background-action-color);
}